.aboutImgWrapper {
  float: left;
  width: 300px;
  height: 300px;
  overflow: hidden;
  margin: 20px 15px 15px 0;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.aboutTextWrapper {
  float: left;
  width: 60%;
}

.aboutTextWrapper ul{
  list-style: none;
}

.aboutTextWrapper ul li{
  padding: 10px 0;
}

.aboutContactDivs{
  float: left;
  width: 17vw;
  height: 100px;
  padding: 15px 10px;
  text-align: center;
  background-color: #eee;
  border: 1px solid #fff;
  border-radius: 4px;
}

.contactType {
  font-size: 1.3vw;
  font-weight: 600;
  background: transparent;
  border: none;
  text-align: center;
}

.contactButton {
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 4px;
}

.aboutResumeWrapper {
  width: 50%;
  height: 500px;
  overflow: hidden;
  scroll-behavior: smooth;
}

.aboutResumeWrapper img {
  width: 100%;
}
