nav {
  margin: 20px;
  font-size: 16px;
}

nav ul {
  list-style: none;
  display: inline-block;
}

nav ul li {
  margin: 10px;
  display: inline-block;
}

nav ul li a {
  color: #000;
  font-weight: 700;
}

nav ul li a:hover {
  color: #f00;
}

.logo_wrapper {
  width: 80px;
  height: 56px;
  display: inline-block;
}

.logo_wrapper > a > img {
  width: 100%;
}
